<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"> 

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

</head>
<body>
  
<h1> Chatbot App </h1>

<div>
  <div id="chatbot">
    <p class="botText"><span>Hi There</span></p>
  </div>

  <div id="userInput">
    <input type="text" id="textInput" name="userMessage" placeholder="Type your Meesage.."/>
    <input type="button" value="Send" id="buttonInput"/>

  </div> 
  </div>  
  

  <script>

    function getUserResponse(){

      let userText = $('#textInput').val();
      let userHTML = "<p class='userText'>User: <span>"+userText+"</span></p>";
        $('#textInput').val("");

        $('#chatbot').append(userHTML);
    }


    $('#buttonInput').click(function(){
      getUserResponse();
    })

  </script>

  </body>
</html>
